<div class="jumbotron">
    <div class="container col-6 form-group" id="submitUserDiv">
        <h3>Assosiate Log In</h3>
        <input type="text" id="username" class="form-control col-4" placeholder="Username">
        <br>
        <input type="password" id="pw" class="form-control col-4" placeholder="Password">
        <br>
        <button type="submit" class="btn btn-submit" id="login"><span class="fas fa-sign-in-alt"></span> Log In</button>
        <br>
        <button id="gotosubmit" type="button" class="btn btn-link">
            <i>Not a User? Create an Account here</i>
        </button>
    </div>
</div>